<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Donation/Index</title>
</head>
<body>
<div th:insert="fragments/header.html :: header"> </div>

<form th:action="@{/donation}" th:method="post" th:object="${donation}">

    <!-- STEP 1 -->
    <h3>Zaznacz co chcesz oddać:</h3>
    <div data-step="1" class="active">
        <div th:each="category : ${categories}" class="form-group form-group--checkbox">
            <label>
                <input type="checkbox" th:field="*{categories}" th:value="${category.id}">
                <span class="checkbox"></span>
                <span th:text="${category.name}" class="description"></span>
            </label>
        </div>
    </div>

    <!-- STEP 2 -->
    <div data-step="2">
        <h3>Podaj liczbę worków, w które spakowałeś/aś rzeczy:</h3>

        <div class="form-group form-group--inline">
            <label>
                Liczba worków:
                <input type="number" th:field="*{quantity}" step="1" min="1">
            </label>
        </div>

        <div class="form-group form-group--buttons">
            <button type="button" class="btn prev-step">Wstecz</button>
            <button type="button" class="btn next-step">Dalej</button>
        </div>
    </div>

    <!-- STEP 3 -->
    <div data-step="3">
        <h3>Wybierz organizację, której chcesz pomóc:</h3>

        <div th:each="institution : ${institutions}" class="form-group form-group--checkbox">
            <label>
                <input type="radio" th:field="*{institution}" th:value="${institution.id}">
                <span class="checkbox radio"></span>
                <span class="description">
                    <div class="title" th:text="${institution.name}">Fundacja “Bez domu”</div>
                    <div class="subtitle" th:text="${institution.description}">Cel i misja</div>
                </span>
            </label>
        </div>

        <div class="form-group form-group--buttons">
            <button type="button" class="btn prev-step">Wstecz</button>
            <button type="button" class="btn next-step">Dalej</button>
        </div>
    </div>

    <!-- STEP 4 -->
    <div data-step="4">
        <h3>Podaj adres oraz termin odbioru rzeczy przez kuriera:</h3>

        <div class="form-section form-section--columns">
            <div class="form-section--column">
                <h4>Adres odbioru</h4>
                <div class="form-group form-group--inline">
                    <label> Ulica <input type="text" th:field="*{street}"> </label>
                </div>
                <div class="form-group form-group--inline">
                    <label> Miasto <input type="text" th:field="*{city}"> </label>
                </div>
                <div class="form-group form-group--inline">
                    <label> Kod pocztowy <input type="text" th:field="*{zipCode}"> </label>
                </div>
            </div>

            <div class="form-section--column">
                <h4>Termin odbioru</h4>
                <div class="form-group form-group--inline">
                    <label> Data <input type="date" th:field="*{pickUpDate}"> </label>
                </div>
                <div class="form-group form-group--inline">
                    <label> Godzina <input type="time" th:field="*{pickUpTime}"> </label>
                </div>
                <div class="form-group form-group--inline">
                    <label> Uwagi dla kuriera <textarea th:field="*{pickUpComment}" rows="5"></textarea> </label>
                </div>
            </div>
        </div>
    </div>

    <!-- STEP 5 -->
    <div data-step="5">
        <h3>Podsumowanie Twojej darowizny</h3>

        <div class="summary">
            <div class="form-section">
                <h4>Oddajesz:</h4>
                <ul>
                    <li>
                        <span class="icon icon-bag"></span>
                        <span class="summary--text">4 worki ubrań w dobrym stanie dla dzieci</span>
                    </li>
                    <li>
                        <span class="icon icon-hand"></span>
                        <span class="summary--text">Dla fundacji "Mam marzenie" w Warszawie</span>
                    </li>
                </ul>
            </div>

            <div class="form-section form-section--columns">
                <div class="form-section--column">
                    <h4>Adres odbioru:</h4>
                    <ul>
                        <li th:text="*{street}">Prosta 51</li>
                        <li th:text="*{city}">Warszawa</li>
                        <li th:text="*{zipCode}">99-098</li>
                    </ul>
                </div>

                <div class="form-section--column">
                    <h4>Termin odbioru:</h4>
                    <ul>
                        <li th:text="*{pickUpDate}">13/12/2018</li>
                        <li th:text="*{pickUpTime}">15:40</li>
                        <li th:text="*{pickUpComment}">Brak uwag</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group form-group--buttons">
            <button type="button" class="btn prev-step">Wstecz</button>
            <button type="submit" class="btn">Potwierdzam</button>
        </div>
    </div>
</form>

<div th:insert="fragments/footer.html :: footer"> </div>
</body>
</html>
